<div class="container">
  <header>
    <div class="page-header">
      <h1 id="title">Ember Movies Database <small>by John Acosta</small></h1>
    </div>
  </header>
  <nav>
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Log out</a></li>
    </ul> 
  </nav>

  {{outlet}}
</div>
